section.intro, div.container-fluid {
    background: #F2F3F7;
	font-size: 14px;	
}

.list-header-text{
	color: #000000;
    /* font-family: "Fira Sans"; */
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1px;
	line-height: 38px;
    padding-bottom: 26px;
    padding-top: 21px;
	margin-top:-80px !important;
}
.t-heading{
    color: #979797;	
    font-family: "Fira Sans";	
    font-size: 11px;	
    font-weight: 500;	
    line-height: 16px;
    border-right: 1px solid #CECED1;
}
.sr-no{
    color: #979797;
    font-size: 11px;
    padding-left: 24px;	
}
.create-connection-btn{
	float: right;
	margin-top: -62px;
	height: 39px;
	background: #F07B05;
    width: 189px;
}
.btn-text{
	color: #FFFFFF;
	font-size: 15px;	
	letter-spacing: -0.84px;	
	line-height: 18px;	
	text-align: center;
	font-weight:400 !important;
}
.container-list{
	/*padding: 0 60px 0 44px;*/
	background: #F2F3F7;
}
.connection-count{
	color: #4AA1D9;
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 16px;
}

.sub-text{
    opacity: 0.8;	
    color: #979797;	
    font-family: "Fira Sans";	
    font-size: 14px;	
    letter-spacing: -0.44px;	
    line-height: 17px;
    padding-top: 5px;
}
.main-text{
    opacity: 0.8;	
    color: #1A1A18;
    font-family: "Fira Sans";	
    font-size: 15px;	
    letter-spacing: -0.47px;	
    line-height: 18px;
	text-transform:capitalize;
}
.row-spacing{
    background: #fff;
    margin: 9px 15px !important;
    padding: 18px 0 17px 0 !important;
    border-radius: 14px !important;
}
.edit-delete{
    color: #339FE0;
    cursor: pointer;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 11px;
}

.edit{
    margin-left: -29px;
}
.separator-dash{
    margin-left: 20px;
    margin-right: 14px;
}
.checkbox input[type=checkbox]{
    height: 16px;
    width: 16px;
    margin-top: 2px;
}
.unique-id{
    margin-left: 25px;
}
.delete{
    float: right;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background: #D6ECF9;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -7px;
    margin-bottom: 15px;
    height: 31px;
    width: 106px;
}

.delete-text{
   color: #339FE0;
   padding-left: 5px;
}
.image-logo{
    float: left;
}
.image-logo img{
    width:40px;
	height:40px;
}

.connection-wrapper{
    float: left;
    margin-left: 22px;
}
.no-margin-top{
    margin-top: 0;
}
.no-margin{
    margin-right:0 !important;
    margin-left:0 !important;
}
.sr-no-margin{
    margin-left: 15px;
}
.pad-top{
    padding-top: 11px;
}
.fa-filter{
    float: right;
    /* margin-right: 18px; */
    cursor: pointer;
}
.no-border-right{
    border-right:0
}
.last-updates{
    width: 182px !important;
    padding-left: 8px !important;
}
.action-header{
    padding-left: 0;
}
.img-arrow{
    height: 10px;
    width: 10px;
    float: right;
    margin-right: 18px;
    margin-left: 3px;
    color:#979797
}
.connection-pad-left{
    padding-left: 0 !important;
}
.pad-left-created{
    padding-left: 11px;
}
.pad-left-dest{
    padding-left: 6px !important;
}
.row.row-spacing:hover {
    box-shadow: 10px 10px 11px 20px  #D8E1EF;
}